language: ruby
rvm:
  - 2.2
  - 2.3
  - 2.4
before_install: gem update bundler

matrix:
  include:
    - rvm: 2.4
      env: "TRAVIS_CI_RUBOCOP=true"
  allow_failures:
    - env: "TRAVIS_CI_RUBOCOP=true"
