---
# For more information, see https://docs.gitlab.com/omnibus/docker/README.html#install-gitlab-using-docker-compose
version: '3'
services:
  app:
    build: .
    volumes:
      - ./:/app
    env_file: docker.env

  gitlab:
    image: 'gitlab/gitlab-ce:latest'
    restart: always
    hostname: 'gitlab.example.com'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://gitlab.example.com:3000'
        # Add any other gitlab.rb configuration here, each on its own line
    ports:
      - 3000:3000
